@import url("https://use.typekit.net/eld5hjk.css");


a:link {color: rgb(255, 184, 0)}
a:visited {color: rgb(255, 184, 0)}
a:hover { color: rgb(255, 122, 0)}
a:active { color: rgb(232, 0, 0)}

body
{
margin: 0px;
padding-top: 100px
}


#shortcut-buttons
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 180px;
    font-size: 15px;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color: rgb(255, 184, 0);
    border-width: 3px;
    rotate: -82.86deg;
    margin-left: 1180px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
}


#shortcut-buttons:hover
{
    rotate: -90deg;
}


#letters-from
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 122.5%;
    padding-left: 446px;
    margin-bottom: 10px
}


#the-temp-state
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
}


h1
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 203px;
    letter-spacing: -0.035em;
    line-height: 0.78;
    margin: 0px;
    background-color: rgb(255, 184, 0);
    padding-left: 445px;
    max-width: 632px;
}

h1:hover
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 900;
    font-style: italic;
}


#written-by
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 620px; 
    font-size: 20px;
    padding-left: 685px;
    padding-top: 20px;
    margin: 0px
    
}


#author
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0px
}


#you-should-start
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 34px;
    line-height: 36px;
    width: 620px;
    padding-left: 410px;
    padding-top: 140px;
}


#friendly-advice
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0px;
    padding-top: 10px;
    margin-bottom: 65px;
}


h3
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    letter-spacing: -0.035em;
    width: 624px;
    padding-left: 444px;
    padding-top: 10px;
    text-decoration: underline;
    margin-bottom: 15px;
}

.main-text
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17.5px;
    line-height: 141%;
    width: 624px;
    margin: 0px;
    margin-bottom: 15px;
    padding-left: 444px; 
}

.bookmark-magnifier
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 141%;
    letter-spacing: 0.025em;
    max-width: 840px;
    min-width: 840px;
    background-color: white;
    border-style: solid;
    border-color: rgb(255, 184, 0);
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-left-width: 130px;
    border-right-width: 130px;
    margin-left: 170px; 
    margin-top: 30px;
    margin-bottom: 30px;
}


.bookmark-magnifier:hover
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: italic;
}


.wide-leading-quote
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: -0.013;
    width: 839px;
    max-width: 2000px;
    margin-left: 229px;
    border-style: dashed;
    border-color: rgb(255, 184, 0);
    border-width: 3px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 344px
}

.callout
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17.5px;
    line-height: 155%;
    background-color: rgb(255, 184, 0);
    display: inline;
    margin: 0px;
    margin-left: 445px;
    max-width: 605px;
    position: static;
}


#filippo-marinetti
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}


.superscript
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 15px;
    padding-right: 7px;
    background-color: rgb(255, 184, 0);
    line-height: 0px;
}


.big-superscript
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
}


.annotation
{
    font-family: "source-serif-pro", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 172px;
    line-height: 140%;
    font-size: 12.1px;
    letter-spacing: 0.005em;  
    background-color: rgb(255, 184, 0);
    padding-right: 20px;
    rotate: -3.20deg;
    margin-left: 115px;
    position: absolute;
}

.annotation:hover
{
    rotate: 0deg;
}


h4
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    letter-spacing: -0.035em;
    width: 624px;
    margin: 0px;
    padding-bottom: 20px;
    text-decoration: underline;
}


#other-updates
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17.5px;
    line-height: 141%;
    width: 408px;
    margin-left: 336px;
    margin-top: 90px;
    border-style: solid;
    border-color: rgb(255, 184, 0);
    border-width: 3px;
    padding: 25px;
    padding-top: 35px;
    rotate: -3deg;
}


#other-updates:hover
{
rotate: 0deg;
}


#update
{
    margin-top:30px;
    margin-bottom: 60px;
}


footer
{
    max-width: 180px;
}


#roman-gornitsky-sign
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
}


#re
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 140px;
    color: rgb(255, 184, 0);
    margin: 0px;
    margin-left: 168px;
    margin-top: 80px;
    margin-bottom: 10px;
}


h2
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 163px;
    letter-spacing: -0.035em;
    line-height: 78%;
    max-width: 507px;
    margin: 0px;
    margin-top: -38px;
    margin-bottom: 20px;
    padding-left: 165px;
    background-color: rgb(255, 184, 0);
}

h2:hover
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 900;
    font-style: italic;  
}


#thoughts-from-me
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 620px; 
    font-size: 20px;
    margin-left: 255px;
}


#are-we-trying
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 89.6%;
    letter-spacing: 0.11em;
    width: 620px;
    margin-left: 255px;
    margin-top: 75px;
    margin-bottom: 140px;
}


#me-right-now
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0px;
}


.my-text
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17.5px;
    line-height: 140.5%;
    margin-left: 336px;
    max-width: 624px;
}


#ff-amman-quote
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 140.5%;
    letter-spacing: 0.125em;
    max-width: 620px;
    border-style: dashed;
    border-color: rgb(255, 184, 0);
    border-width: 3px;
    padding: 25px;
    margin-left: 228px;
}


#ff-amman-quote:hover
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 500;
    font-style: italic;
}


#need
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
}


#need:hover
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: italic;
}


#claim
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
}


#claim:hover
{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: italic;
}


#contact-me
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17.5px;
    max-width: 350px;
    margin-top: 90px;
    margin-left: 228px;
    margin-bottom: 55px;
    border-style: solid;
    border-color: rgb(255, 184, 0);
    border-width: 3px;
    padding-left: 20px;
    padding-bottom: 20px;
    rotate: -3deg;
}


#contact-me:hover
{
    rotate: 0deg;
}


address
{
    margin-left: 30px;
    margin-bottom: 60px;
}


.my-name
{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 600;
    font-style: normal;
}


#first-right-apostrophe
{
    font-family: "Avenir Next", sans-serif;
    font-size: 200px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.13em;
    margin-left: 930px;
    padding-top: 160px;
    color: rgb(255, 184, 0);
    mix-blend-mode: multiply;
    position:absolute
}


#first-left-apostrophe
{
    font-family: "Avenir Next", sans-serif;
    font-size: 200px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.13em;
    margin-left: 380px;
    padding-top: 105px;
    color: rgb(255, 184, 0);
    mix-blend-mode: multiply;
    position:absolute 
}


#second-right-apostrophe
{
    font-family: "Avenir Next", sans-serif;
    font-size: 200px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.13em;
    margin-left: 560px;
    margin-top: 410px;
    color: rgb(255, 184, 0);
    mix-blend-mode: multiply;
    position:absolute
}


#second-left-apostrophe
{
    font-family: "Avenir Next", sans-serif;
    font-size: 200px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.13em;
    margin-left: 185px;
    margin-top: 318px;
    color: rgb(255, 184, 0);
    mix-blend-mode: multiply;
    position:absolute
}